<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>


<h1>Users#index</h1>
  <table border="1px solid black" style="border-collapse: collapse;">
    <thead>
      <tr >
        
        <th>Name</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% listinguser(@users).each do |user| %>
      <tr >
        <td><%= time_ago_in_words(user.created_at) %></td>
         <td style="padding: 8px;"><%= link_to user.username, user_path(user) %></td> 
        <td style="padding: 8px;"><%= link_to "Edit", edit_user_path(user) %></td>
        <td style="padding: 8px;"><%= link_to "Destroy", user_path(user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to "New User", new_user_path %>
