<table border="1px">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
<%# WORKING FINE WITH User.find(params.extract_value(:id)) %>
      <%# <% @user.each do |user|%>
       <%# <td><%= user.id %></td>
       <%# <td><%= user.name %></td>
       <%# <td><%= user.username %></td>
       <%# <td><%= user.email %></td>
      <%# <%end%>


<%# WORKING FINE WITH User.find(params[:id]) %>
      <td><%= @user.id %></td>
      <td><%= @user.name %></td>
      <td><%= @user.username %></td>
     <td><%= @user.email %></td> 
    </tr>
  </tbody>
</table>